<mat-card>
  <h1>
    <i class="fa fa-sign-in" aria-hidden="true"></i>
    Login
  </h1>

  <br>

  <mat-form-field appearance="fill">
    <mat-label>Nickname</mat-label>
    <input matInput [(ngModel)]="loggedIn.nickname" minlength="3" maxlength="15">
  </mat-form-field>

  <mat-form-field appearance="fill" class="container">
    <mat-label>Password</mat-label>
    <input matInput [(ngModel)]="loggedIn.password" minlength="3" maxlength="15" type="password">
  </mat-form-field>

  <br>
  <div id="erroreLogin"></div>

  <button mat-raised-button color="primary" (click)="login()">
    Login
  </button>
  <button mat-stroked-button color="warn" (click)="resetAll()">Cancella</button>
</mat-card>
