.example-spacer {
    flex: 1 1 auto;
}

.example-container {
    width: 303px;
    height: 80px;
}
  
.example-sidenav {
    padding: 20px;
}

.button {
    margin-left: 20px;
}

.mat-icon {
    margin-right: 15px;
}

a {
    color:inherit;
}
  