<div [class.alternative]="isTrue" style="height: 100vh;">
  <mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" type="button"
      (click)="drawer.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Agenda</span>
    <span class="example-spacer"></span>

    <mat-slide-toggle class="example-margin" [color]="color" [checked]="checked" [disabled]="disabled"
      (click)="changeTheme()">
      <i class="fa fa-moon-o" aria-hidden="true"></i>
    </mat-slide-toggle>

    <a href="https://github.com/RyalZX/agendaAngular">
      <button mat-icon-button>
        <mat-icon class="fa fa-github fa-2x" aria-hidden="true"> </mat-icon>
      </button>
    </a>

  </mat-toolbar>

  <mat-drawer-container class="example-container" autosize>

    <br>

    <router-outlet></router-outlet>

    <mat-drawer #drawer class="example-sidenav" mode="side">
      <button mat-raised-button color="primary" routerLink="/agenda" class="button">
        <i class="fa fa-address-book" aria-hidden="true"></i>
        Contatti
      </button>
      <br> <br>
      <button mat-raised-button color="primary" routerLink="/form" class="button">
        <i class="fa fa-user-plus" aria-hidden="true"></i>
        Registra contatto
      </button>

      <br>
      <p>developed by Gianluca Lauro</p>

    </mat-drawer>
  </mat-drawer-container>
</div>
