<mat-card>
  <h1>
    <i class="fa fa-user-circle" aria-hidden="true"></i>
    Contatti
  </h1>

    Ciao {{service.account.nickname}}!

  <p>
    <mat-form-field class="example-full-width">
      <mat-label>Filtro</mat-label>
      <textarea matInput placeholder="Inserisci una keyword" [(ngModel)]="key" name="keyword"></textarea>
    </mat-form-field>

    <button mat-raised-button color="primary" (click)="getContatti()" class="button">
      <i class="fa fa-search" aria-hidden="true"></i> Ricerca
    </button>
  </p>

  <br> <br>

  <div class="contatti" *ngFor="let person of persona">
  <mat-accordion>
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <div class="nomeCognome">
          {{person.nome}}  {{person.cognome}}
        </div>
        </mat-panel-title>
      </mat-expansion-panel-header>
      Numero: {{person.numero}}  
      <br>
      Email: {{person.email}} 

      <div class="azioni">
        <button mat-icon-button (click)="passaContatto(person)">
          <mat-icon class="fa fa-pencil-square-o fa-2x" aria-hidden="true"> </mat-icon>
        </button>
        <button mat-icon-button (click)="eliminaContatto(person)">
          <mat-icon class="fa fa-trash fa-2x" aria-hidden="true"> </mat-icon>
        </button>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>


</mat-card>
